

          <form method="POST" action="/studentAdd">
  
      <div class="form-group">
        <label for="exampleInputPassword1">Student Name</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="firstName">
      </div>
       <div class="form-group">
        <label for="exampleInputPassword1">Teacher id</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="TeacherId">
      </div>
       <button type="submit">Add New Student!</button>
    </form>

    <h2> Teacher id's and names </h2>
    <br>

  <h4><h3>1</h3> Mr. Bubbles </h4>
  <br>
  <h4><h3>2</h3>  Mr.Ironsides </h4>
  <br> <br>

  <a href="/students"><button class="btn btn-info" type="submit">Back to class roster</button></a>