<div class="container-fluid">
  <div class="row-fluid">

    <h2>this is the class structure </h2>
    {{#each Teachers}}
      <div>
        <h2>Teacher's name </h2>
        {{firstName}} {{lastName}}
        <br>
      </div>
      <div>
        <h4> Students in class </h4>
        {{#each Students}}
          <li> {{firstName}}</li>
        {{/each}}
      </div>
      <div>
      {{#each TA}}
        <h5> Name of the TA</h5>
      {{firstName}}
      {{/each}}
    {{/each}}
      </div>
      <div>
      <br>
      <a href ="/instructors">  <button class = "btn btn-default"> Go to instructors page</button></a>
    </div>
  </div>
</div>